.messageBox {
    position: fixed;
    top: 15vh;
    left: calc(50vw - 110px);
    border-radius: 0.5rem;
    border: 2px solid black;

    width: 220px;
    box-sizing: border-box;
    padding: 0.5rem;

    font-weight: bold;
    color: white;

    box-shadow: 5px 5px 10px rgba(128, 128, 128, 0.541);
}

.incorrect {
    background-color: rgb(211, 67, 48);
}

.correct {
    background-color: rgb(80, 150, 80);
}