#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-bottom: 2px solid black;
  margin-bottom: 1rem;

  padding-bottom: 0.5rem;
}
